@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="col-main relative no-side-content">
    <div class="inner site-width">
        <div class="page-title">
            <h1>Please check your email to reset your password.</h1>
        </div>
    </div>
</div>
<div class="std"></div>